<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sherifnasser.plants.register">

    <application android:theme="@style/Theme.PlantS">
        <activity
            android:name=".RegisterHiltTestActivity"
            android:exported="false"/>
    </application>

</manifest>